.Project {
    margin: 20px 0;
}

.Project img {
    width: 100%;
    box-shadow: 0 3px 10px #34495eaf;
}

.Project a {
    display: block;
    transition: transform .25s;
}

.Project a:hover,
.Project a:focus {
    transform: scale(1.02);
}

@media screen and (min-width: 1024px){
    .Project {
        margin: 0;
        padding: 20px;
        width: 50%;
    }
}