.Project {
    display: block;
    transition: transform .25s;
    margin: 20px 0;
    text-decoration: none;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 6px #34495ec0;
}

.Project img {
    width: 100%;
    height: 100%;
}

.Project > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3498dbd3;
    opacity: 0;
    transition: opacity .25s;
}

.Project > div > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fdfdfd;
    color: #fdfdfd;
    font-weight: 500;
}

.Project:hover,
.Project:focus {
    transform: scale(1.02);
}

.Project:hover > div,
.Project:focus > div {
    opacity: 1;
}

@media screen and (min-width: 1024px){
    .Project {
        width: calc((100% / 2) - (20px * 1 / 2));
    }

    .Project:not(:nth-of-type(2n)) {
        margin-right: 20px;
    }
}