.App {
	padding: 10rem 20px 20px;
	text-align: center;
}

#logo {
	width: 15vw;
	height: 15vw;
	min-width: 150px;
	min-height: 150px;
	display: inline-block;
	margin-bottom: 20px;
}

h1 {
	font-weight: 500;
	margin-bottom: 20px;
	font-size: 1.6rem;
}

h2 {
    font-weight: 500;
	font-size: 1.4rem;
}

p {
	margin-bottom: 10px;
}

.contact {
    display: block;
	font-size: 1.6em;
	text-decoration: none;
	font-weight: 500;
    transition: color .4s;
    margin-bottom: 5rem;
}

a {
    transition: color .25s;
}

a:hover,
a:focus {
    outline: none;
    color: #3498db;
}

@media screen and (min-width: 1024px) {
	.contact,
	h1 {
		font-size: 2rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
}