* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fdfdfd;
	color: #34495e;
	font-weight: 300;
}

.color1 {
	color: #34495e;
}

.color2 {
	color: #9b59b6;
}

.color3 {
	color: #3498db;
}

.color4 {
	color: #2ecc71;
}

.color5 {
	color: #1abc9c;
}
